/* ============= COMMON STYLES =========== */
body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    font-style: normal;
    letter-spacing: 0.02em;
    background-color: #FFFFFF;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}
button {
    cursor: pointer;
    border:none;
}

.page-address {
    font-style: normal;
}
.accent-color {
    font-family: 'Raleway', sans-serif;
    line-height: 1.17;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase; 
    color: #2E2F42;
}
.container {
    padding-left: 16px;
    padding-right: 16px;
}

.link {
    text-decoration: none;
    font-style: normal;
}

.list {
    list-style-type: none;
  }
.section {
    padding-top: 120px;
    padding-bottom: 120px;
}
.section-title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize; 
    color: #2E2F42;
    margin-bottom: 72px;
}
.logotype-nav {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    margin-right: 76px;
}
.accent-color {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase; 
    color: #2E2F42;
}
/* ============ /COMMON STYLES =========== */

/* ============ MOBILE - PAGE HEADER ============== */



/* ============ /MOBILE - PAGE HEADER ============== */


@media screen and (min-width: 480px) {
    .container {
        width: 350px;
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (max-width: 767px) {
    .menu-list {
        display: none;
    }
    .page-address {
        display: none;
    }
    .page-header {
        padding-top: 16px;
        padding-bottom: 16px;
    }
    .page-header-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .mobile-open-btn {
        border: none;
        background-color: transparent;
        padding: 0;
        line-height: 0;
    }
    .modal-mobile-menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 99999999;
        background-color: #ffffff;
        transform: translateX(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    }
    .modal-mobile-menu.is-open {
        transform: translateX(0%);
    }
    .modal-mobile-menu-btn {
        position: relative;
    }
    .modal-close-btn {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 24px;
        right: 24px;
        padding: 0px;
        line-height: 0;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        stroke-width: 1px;
        fill: #2E2F42;
        background-color: #E7E9FC;
        border: 1px solid rgba(0, 0, 0, 0.1);
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    }
    .modal-close-btn:hover,
    .modal-close-btn:focus {
        fill: #FFFFFF;
        border: #404BBF;
        background-color: #404BBF;
    }
    
    .modal-close-btn-icon {
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    }
    
    .modal-mobile-menu-nav {
        padding-top: 72px;
        padding-right: 16px;
        padding-bottom: 40px;
        padding-left: 16px;
    }
    .modal-mobile-nav {
        margin-bottom: 168px;
    }
    .menu-list.modal-mobile {
        display: flex;
        gap: 40px;
        flex-direction: column;
        align-items: flex-start;
    }
    .modal-mobile-menu-link {
        font-size: 36px;
        font-weight: 700;
        line-height: 1.12;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #2E2F42;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .modal-mobile-adress-link {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .active {
        color: #404bbf;
    }
    
    .modal-mobile-menu-link:hover,
    .modal-mobile-menu-link:focus {
        color:#404BBF; 
    }
    
    .modal-mobile-menu-address {
        padding-bottom: 0px;
    }
    .modal-mobile-address-list {
        display: flex;
        gap: 24px;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 48px;
    }
    .modal-mobile-adress-link {
        margin-bottom: 24px;
    }

}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }

/* ============ TABLET - PAGE HEADER ============== */
.menu-list {
    display: flex;
}
.page-address {
    display: flex;
}
.modal-mobile-menu {
    display: none;
}
.mobile-open-btn {
    display: none;
}

.menu-link {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: #2E2F42;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-header {
    border: none;
}

.page-adress-link {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    color: #434455;
    letter-spacing: 0.04em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.active {
    position: relative;
    color: #404bbf;
}
.menu-link.active::after {
    position: absolute;
    content: "";
    display: block;
    width: 48px;
    height: 4px;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    border: 1px solid #000;
    background:#404BBF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    overflow: auto;
}

.menu-link:hover,
.menu-link:focus {
    color:#404BBF; 
}

.page-adress-link:hover,
.page-adress-link:focus {
    color:#404BBF;
}

.page-header .container {
    display: flex;
    justify-content: space-between;
}
.page-header {
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.page-nav {
    display: flex;
    align-items: center;
}
.page-address-list {
    display: flex;
    gap: 12px;
    flex-direction: column;
    flex-shrink: 0;
    padding: 16px 0;
}
.page-adress-item {
    height: 14px;
}
.menu-list {
    display: flex;
    gap: 40px;
}
/* ============ /TABLET - PAGE HEADER ============== */
/* ============ TABLET - HERO SECTION ============== */


/* ============ /TABLET - HERO SECTION ============== */
/* ============ TABLET - STUDIO SECTION ============== */


/* ============ /TABLET - STUDIO SECTION ============== */
/* ============  TABLET - TEAM SECTION ============== */


/* ============  /TABLET - TEAM SECTION ============== */
/* ============ TABLET - PORTFOLIO SECTION =========== */


/* ============ /TABLET - PORTFOLIO SECTION =========== */
/* ============= TABLET - FOOTER SECTION ============= */



/* ============= /TABLET - FOOTER SECTION ============= */
}





   
    


@media screen and (min-width: 1158px) {
    .container {
        width: 1158px;
    }

/* ============ DESCTOP - PAGE HEADER ============== */
.page-header {
    padding-top: 24px;
    padding-bottom: 24px;
}
.page-adress-link {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
 
.page-address-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding: 0 15px;
    margin: 0 auto;
}


/* ============ /DESCTOP - PAGE HEADER ============== */
/* ============ DESCTOP - HERO SECTION ============== */


/* ============ /DESCTOP - HERO SECTION ============== */
/* ============ DESCTOP - STUDIO SECTION ============== */


/* ============ /DESCTOP - STUDIO SECTION ============== */
/* ============  DESCTOP - TEAM SECTION ============== */


/* ============  /DESCTOP - TEAM SECTION ============== */
/* ============ DESCTOP - PORTFOLIO SECTION =========== */


/* ============ /DESCTOP - PORTFOLIO SECTION =========== */
/* ============= DESCTOP - FOOTER SECTION ============= */



/* ============= /DESCTOP - FOOTER SECTION ============= */
}




/* ============ MOBILE - MODAL MENU ============== */

.social-list {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: calc((100% - 120px) / 4);
}

.social-list-item {
    display: flex;
    width: 100%;
    height: 40px;
    padding-right: 0;
}

.social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    flex-shrink: 0;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-icon {
    fill: #F4F4FD;
    stroke: #F4F4FD;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
    background-color: #404BBF;
}
.social-list-link:hover,
.social-list-link:focus {
    background-color: #404BBF;
}

.mobile-menu-address {
    margin-bottom: 48px;
}
